*{
    background-color:#54E38e;
    


}
h1{
    text-align: center;
    font-family:monospace,'Courier New', Courier, monospace,sans-serif;
    text-shadow: blue;
    text-decoration:solid;
    

}

img{
    border-radius: 15px;
}
footer{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    background-color: #333333;
    color: #54E38e;
    padding: 10px;
    
}
button{
    background-color:black;
    color: #54E38e;
    

}
